.App {
	text-align: center;
	overflow-x: hidden;
	height: auto;

	background-color: rgb(104, 38, 143);
	overflow-x: hidden;
}

.main-background {
	height: 60vh;
	width: 90%;
	margin: 4rem auto;
	background: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/b0WmHGc8LHTdGCVzxRb3IBMur57.jpg");
	background-position: center;
	background-size: cover;
	text-align: left;
	color: white;
}

.main-background > h1 {
	font-size: 3.5rem;
	margin-left: 2rem;
}

.main-background > h3 {
	font-size: 2.7rem;
	margin-left: 2rem;
}

@media (max-width: 700px) {
	.main-background {
		height: 45vh;
	}
	.main-background > h1 {
		font-size: 2.5rem;
		margin-left: 2rem;
	}

	.main-background > h3 {
		font-size: 1.5rem;
		margin-left: 2rem;
	}
}
